.game-body {
  background-color:#0B1354;
  height: 100%;
  width: 100%;
  margin-left: -7.62px;
  margin-top: -9px;
  position: fixed;
}

.left-bar{
  background-color:#A155B9;
  height: 100%;
  width: 120px;
  float:left;
  padding:.5em;
}

.board {
  position: absolute;
  height: 720px;
  width: 1080px;
  pointer-events:none;
}

.piecesContainer {
  display: flex;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.pieceImg {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  filter: invert(47%) sepia(82%) saturate(2713%) hue-rotate(163deg) brightness(97%) contrast(101%);
  pointer-events:none;
}

.pieceName{
  color: #0B1354;
  transform: translate3d(0px, -35px, 0px);
  margin: 0px;
}

.player-overlay {
  border-collapse: collapse;
  font-size: 0.8em;
  font-family: sans-serif;
  background-color: #F765A3;
  color: #0B1354;
  padding: 5px 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  text-align: center;
  display: block;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.player-overlay-button, .rolling {
  background-color: #F765A3;
  color: #0B1354;
  padding: 5px 10px;
  display: block;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  border: none;
}
  
.player-overlay-button:hover, .rolling:hover {
  background: #FFA4B6;
  box-shadow: 0px 4px 35px -5px #F765A3;
  cursor: pointer;
}
  
.player-overlay-button:focus, .rolling:focus {
  outline: none;
}

.rolling {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.diceNum {
  color: #0B1354;
  font-size: 50px;
  position: absolute;
  left: 50px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.latestRoller {
  color: #0B1354;
  font-size: 20px;
  position: absolute;
  left: auto;
  bottom: 100px;
  text-align: center;
}